<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Carpeta</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
</head>
<body>
    <form class="p-4" id="new-folder">
        <div class="form-group">
            <label for="labelFolder">Carpeta</label>
            <input type="text" id="name" class="form-control" placeholder="Ingrese el nombre de la Carpeta">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Crear</button>
        
    </form>
    <script src="../scripts/new-folder.js"></script>
</body>
</html>
